html {
    font-size: 14px;
}

.fn-shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.17);
}

.fn-text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
}

.fn-animation {
  transition: all .5s ease;
}

.fn-post-img img {
  width: 50%;
  float: left;
  padding: 0 15px 0 0;
}

.fn-post-summary-img img {
  float: left;
  padding: 30px 0 20px 0;
  width: 100%;
}

.fn-post-summary-section:not(:first-child) .fn-post-summary-img img {
  border-top: 1px solid #ccc;
}

@media screen and (min-width: 650px) {
  .fn-post-summary-img img {
    width: 30%;
    padding: 0;
  }
  .fn-post-summary-section:not(:first-child) .fn-post-summary-img img {
    border-top: 0;
  }
}
